*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/nbproject/private/
/nbproject/
/application/config/developmentx/
/application/views/test/
/application/controllers/Tester.php